<div data-ng-init="find()">
<ul class="col-md-9 meetings unstyled">
    <li data-ng-repeat="meeting in meetings">
      <h3>
        <div>
        <!-- <a data-ng-href="/#!/meetings/{{meeting._id}}">{{meeting.title}}</a> -->
        <a ui-sref="meetings-view({meetingId:meeting._id})">{{meeting.title}}</a>
        </div>
        <span data-ng-if="hasAuthorization(meeting)">
          <a class="btn" href="/#!/meetings/{{meeting._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="remove(meeting);">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </span>
      </h3>
      <div>
        <h4>Recipients:<label class="meetingContent">{{meeting.recips}}</label></h4> 
      </div>
      <div>
          <h4>Start Time:<label class="meetingContent">{{meeting.starttime | date:'yyyy-MM-dd HH:mm'}}</label></h4> 
      </div>
      <div>
           <h4>End Time:<label class="meetingContent">{{meeting.endtime | date:'yyyy-MM-dd HH:mm'}}</label></h4> 
      </div>
       <div>
           <h4>Content: <label class="meetingContent">{{meeting.content}}</label></h4> 
      </div>
    </li>
  </ul>
<h1 data-ng-hide="!meetings || meetings.length">No Meetings yet. <br> Why don't you <a href="/#!/meetings/create">Create One</a>?</h1>
</div>